development:
  dialect: mysql
  datasource: root:password@tcp(dev.cfgvufynfn23.us-west-2.rds.amazonaws.com:3306)/halCinema?parseTime=true&collation=utf8_general_ci&interpolateParams=true
  dir: migrations
