html,body{
    margin: 0;
    padding: 0;
    height: 100%;
}
body{
    background-color: #FAFAFA;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
.title {
    font-size: 1.6em;
    background: #CD1111;
    padding: 4px;
    text-align: center;
    color: #FFF;
    font-weight: bold;
    letter-spacing: 0.05em;
}
#campaign_list{
    width:100%;
    margin: 50px auto;
    overflow: hidden;
}
.campaign{
    width:1000px;
    height:300px;
    box-shadow:0px 2px 6px 1px;
    margin:50px auto;
    background-image: url("/image/movie_ticket.png");
}
.detail{
    width:70%;
    float:left;
}
.ticket_left{
    width:30%;
    float:left;
    position: relative;
}
.icon{
    position: absolute;
    top:20px;
    left:71px;
}
.left_p{
  margin:200px 20px 10px 20px;
  color:#FFF;
  letter-spacing:3px;
  font-family: "ヒラギノ明朝 ProN W2", "HiraMinProN-W2", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
  font-weight: 200;
  text-align: center;
}
.presents_L{
    font-size: 14px;
    
}
.Title_L{
    font-size:28px;
}
.copy{
    font-size: 18px;
}
.presents{
    text-align: center;
    padding-top:40px;
}
.campaignTitle{
    text-align: center;
    font-size:48px;
    font-weight: bold;
}
.campaign_P{
text-align: center;
padding:10px 0 20px 0;
}
.campaign_f{
    margin:0 200px;
    font-size: 12px;
}
