html,body{
    margin: 0;
    padding: 0;
    height: 100%;
}

body{
    background-color: #FAFAFA;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

#register{
    width:810px;
    margin:50px auto;
}
#welcome{
    width:90%;
    margin:20px auto;
    position: relative;
    border-bottom:solid 1px #cccccc;
}
#welcome h2{
    text-decoration: underline #CD1111;
}
#point{
    position: absolute;
    top:5px;
    right:150px;
}
.logout{
    position: absolute;
    right: 20px;
    top:20px;
}
.logout a{
    padding: 10px;
    background-color: #ffffff;
    border-radius:5px; 
    border:solid 1px #cccccc;
}
#menu_bar{
    width:80%;
    margin:0 auto; 
    overflow: hidden;
}
#menu_bar li{
    width: 48%;
    height: 100px;
    color:#000000;
    background-color: #ffffff;
    border-bottom: solid 10px #D8D8D8;
    float:left;
    text-align: center;
    border-right:solid 1px #D8D8D8;
    list-style:none;
    line-height: 100px;
    position: relative;
}
#menu_bar .selected{
    width: 48%;
    height: 100px;
    color:#CD1111;
    background-color: #ffffff;
    border-bottom: solid 10px #CD1111;
    float:left;
    text-align: center;
    border-right:solid 1px #D8D8D8;
    list-style:none;
    line-height: 100px;
    
}
#menu_bar a{
    position: absolute;
    text-decoration: none;
    color:#000000;
display: block;
width:100%;
height: 100%;
}
#menu_bar a:hover{
    color: #CD1111;
}
.step{
font-weight: 700;
padding: 20px 0;
color: #9e9e9e;
border-bottom: 1px solid #e0e0e0;
}
.step .step-list {
    font-size: 0;
    display: table;
    padding: 0 20px;
}
.step .step-item {
    font-size: 18px;
    line-height: 1.28571;
    position: relative;
    display: table-cell;
}
.current{
    color:#CD1111;
}
.step .step-item+.step-item {
    padding-left: 100px;
}
.step .step-item+.step-item:after, .step .step-item+.step-item:before {
    position: absolute;
    left: 40px;
    display: block;
    width: 18px;
    height: 5px;
    content: '';
    border-radius: 2px/50%;
    background-color: #bdbdbd;
}
.step .step-item+.step-item:before {
    top: 15px;
    transform: rotate(45deg);
}
.step .step-item+.step-item:after {
    top: 25px;
    transform: rotate(135deg);
}
#mainForm{
    width:810px;
    margin:30px 0;
    overflow: hidden;
}
#mainForm h1{
    padding:10px;
}
#mainForm h2{
    background-color:#424242;
    color:#ffffff;
    padding:10px 20px; 
    font-size:18px;
}
#mainForm p{
    padding:10px;
    margin:0 auto;
}
.input{
    margin:20px 0;
    width: 810px;
}
.inputBox{
    margin:20px;
}
.text{
    width: 90%;
    padding: 10px;
    border: 1px solid #bdbdbd;
    border-radius: 4px;
    background-color: #fff;
}
button, input,select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
.form-group{
    width:500px;
    margin:20px auto;
}
select{
    font-size: 20px;
    height: 40px;
    margin-left: 50px;
    background-color: #ffffff;
}
.submit{
    font-size: 20px;
    line-height: 60px;
    display: inline-block;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    border: 1px solid;
    border-radius: 4px;
    background-color: #1253A2;
    color:#ffffff;
    transition: all 350ms 0s ease;
}
.submit:hover{
    background-color: #CD1111;
}
.validation{
    color:#CD1111;
    text-align:right;
    margin:5px;
}
#textBox{
    width:100%;
    overflow: hidden;
}
.nameBox{
    width:40%;
    float:left;
    margin:20px;
}
.namearea{
    width:100%;
}