@charset "utf-8";

body{
    background-color: #FAFAFA;
    
}

#fill {
    padding-top: 60px;
    padding-left: 170px;
    padding-bottom: 60px;
    background-color: #f0f0f0;
}

.center-item {
    width: 1099px;
    height: 500px;
}

.slick-prev:before,
.slick-next:before {
    color: #000;
}
左右の矢印の位置を変える
.slick-next {
    right: 20px;
    z-index: 99;
}
.slick-prev {
    left: -44px;
    z-index: 100;
}

/*スライド数のドットの色を変える*/
.slick-dots li.slick-active button:before,
.slick-dots li button:before {
    color: #1253A2;
}
/*スライド画像の横幅可変*/
.center-item img {
    max-width: 900px;
    height: 500px;
}

.btnArea {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.btnArea a.theater {
    margin-right: 20px;
}

.btnArea a {
    display: inline-block;
    width: 28%;
    background: #1253A2;
    box-shadow: 0 5px 0 rgb(20, 66, 116);
    transition: all 350ms 0s ease;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: #fff;
    line-height: 60px;
    font-size: 140%;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    margin: 0 auto;
    position: relative;
}

.btnArea a:hover {
    background:#CD1111;
    box-shadow: 0 5px 0 rgb(146, 41, 41);
}

