<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>hal-cinema | キャンペーン一覧</title>
    <script src="/js/admin-cookieManager.bundle.js"></script>
    <link rel="stylesheet" href="/css/campaign.css">
</head>

<body>
    <header>
    </header>
    <article>
        <h1>キャンペーン</h1>
        <div id="campaign_list">
            <div class="campaign">
                <a href="cinemaDay.html">
                    <div class="zoom">
                    <div class="campaign_01">
                    </div>
                </div>
                    <div class="campaign_p">
                        <p>[割引]</p>
                        <p>毎月一日はシネマの日
                            <br> 1100円で映画がお得♪
                        </p>
                    </div>
                    <p class="detail">詳細</p>
                </a>
            </div>
            <div class="campaign">
                <a href="ladysDay.html">
                    <div class="zoom">
                    <div class="campaign_02">
                    </div>
                </div>
                    <div class="campaign_p">
                        <p>[割引]</p>
                        <p>毎週水曜日はレディースデー
                            <br> 映画全てが1100円♡
                        </p>
                    </div>
                    <p class="detail">詳細</p>
                </a>
            </div>
            <div class="campaign">
                <a href="seniorDay.html">
                        <div class="zoom">
                                <div class="campaign_03">
                                </div>
                            </div>
                    <div class="campaign_p">
                        <p>[割引]</p>
                        <p>50歳以上の方は毎日シニアデー
                            <br> 映画全てが1000円!
                        </p>
                    </div>
                    <p class="detail">詳細</p>
                </a>
            </div>
            <div class="campaign">
                <a href="coupleDay.html">
                        <div class="zoom">
                                <div class="campaign_04">
                                </div>
                            </div>
                    <div class="campaign_p">
                        <p>[割引]</p>
                        <p>夫婦に方はどちらか50歳以上で
                            <br> 2人とも1000円のカップルデーがお得
                        </p>
                    </div>
                    <p class="detail">詳細</p>
                </a>
            </div>
        </div>
    </article>
    <footer>
        <p>
            <a href="">企業情報</a>
        </p>
        <p>
            <a href="">サイトマップ</a>
        </p>
        <p>
            <a href="">個人情報の取り扱いについて</a>
        </p>
        <p>
            <a href="">特定商取引法に基づく表記</a>
        </p>
        <p>
            <a href="">ご利用に際して</a>
        </p>
    </footer>
    <script src="/js/script.js"></script>
</body>

</html>
