<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>hal-cinema | 上映中作品一覧</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/comingSoon.css">
</head>

<body>
    <header></header>
    <section>
        <div id="theater_nav">
            <a href="watch_firm.html">
                <div class="nav_noselected">
                    <div class="nav_mean">
                        <p>上映中</p>
                        <p>now playing</p>
                    </div>
                </div>
            </a>
            <a href="">
                <div class="nav_selected">
                    <div class="nav_mean">
                        <p>公開予定</p>
                        <p>coming soon</p>
                    </div>
                </div>
            </a>
        </div>
    </section>
    <article>
        <div id="watch_firm">
            <h2>上映中映画一覧</h2>
            <div>
                <p>10/14(土)</p>
            </div>
            <div class="firm_card">
                <a href="">
                    <div>
                        <img src="/image/20170711-asahinagu_top.png" alt="あさひなぐの画像">
                        <p>あさひなぐ</p>
                    </div>
                </a>
            </div>
            <div class="firm_card">
                <a href="">
                    <div>
                        <img src="/image/20170711-asahinagu_top.png" alt="あさひなぐの画像">
                        <p>あさひなぐ</p>
                    </div>
                </a>
            </div>
            <div class="firm_card">
                <a href="">
                    <div>
                        <img src="/image/20170711-asahinagu_top.png" alt="あさひなぐの画像">
                        <p>あさひなぐ</p>
                    </div>
                </a>
            </div>
            <div>
                <p>10/16(土)</p>
            </div>
            <div class="firm_card">
                <a href="">
                    <div>
                        <img src="/image/20170711-asahinagu_top.png" alt="あさひなぐの画像">
                        <p>あさひなぐ</p>
                    </div>
                </a>
            </div>
        </div>
        <div id="switch">
            <a href="watchFirm.html">
                <div>
                    <p>上映中映画一覧へ</p>
                </div>
            </a>
        </div>
    </article>
    <footer>
        <p>
            <a href="">企業情報</a>
        </p>
        <p>
            <a href="">サイトマップ</a>
        </p>
        <p>
            <a href="">個人情報の取り扱いについて</a>
        </p>
        <p>
            <a href="">特定商取引法に基づく表記</a>
        </p>
        <p>
            <a href="">ご利用に際して</a>
        </p>
    </footer>
</body>

</html>