<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="/js/admin-cookieManager.bundle.js"></script>
    <title>hal-cinema | 上映中作品一覧</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/comingSoon.css">
</head>

<body>
    <header></header>
    <div id="app">
        <comingsoon></comingsoon>
    </div>
    <footer>
        <p>
            <a href="">企業情報</a>
        </p>
        <p>
            <a href="">サイトマップ</a>
        </p>
        <p>
            <a href="">個人情報の取り扱いについて</a>
        </p>
        <p>
            <a href="">特定商取引法に基づく表記</a>
        </p>
        <p>
            <a href="">ご利用に際して</a>
        </p>
    </footer>
    <script type="text/javascript" charset="utf-8" src="/js/comingsoon.bundle.js"></script>
</body>

</html>
