<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>購入完了|HALシネマ</title>
  <link rel="stylesheet" href="css/complete.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>

  <ul class="navigation">
  	<li class="navi word">STEP1：<br>座席・チケット選択</li>
  	<li class="navi arrow">＞</li>
  	<li class="navi word">STEP2：<br>お支払情報入力</li>
  	<li class="navi arrow">＞</li>
  	<li class="navi word">STEP3：<br>ご購入内容の確認</li>
  	<li class="navi arrow">＞</li>
  	<li class="navi word">STEP4：<br>購入完了</li>
  </ul>

  <h1>購入完了</h1>
  <div class="border">
    <p>予約番号：1111</p>
  </div>

  <img src="image/qr.png">

  <p class="text">上記のQRコードを係員に見せるか予約番号を言って下さい。</p>
  <div class="btn">
  	<a href="index" class="top">TOPへ</a>
  </div>

<script src="js/complete.js"></script>

</body>
</html>