<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>hal-cimema | キャンペーン詳細</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/campaignDetail.css">
</head>

<body>
    <header>
        <h1>halcinema</h1>
    </header>

    <article>
        <h2>キャンペーン詳細</h2>
        <div id="campaign">
            <h3>毎週水曜日はレディースデー<br>
                    映画がすべて1100円♡</h3>
            <div class="detail">
                <div class="couple_day"></div>
                <p class="campaign_p">カップルデー
                    <br>「どちらかお一人様50歳以上の夫婦の方は両名とも1000円でご覧になれます。」
                </p>
                <p class="campaign_p">■実施：毎日
                    <br> ■対象者：夫婦でどちらかどちらかお一人が50歳以上の方(入場時、ご確認する場合があります)
                    <br> ■対象劇場：HALシネマ
                </p>
                    <p class="catch_copy">
                        夫婦でHALシネマがお得！
                    </p>
            </div>

        </div>
    </article>
    <div id="back_btn">
        <a href="campaign.html">キャンペーン一覧に戻る</a>
    </div>
    <footer>
        <p>
            <a href="">企業情報</a>
        </p>
        <p>
            <a href="">サイトマップ</a>
        </p>
        <p>
            <a href="">個人情報の取り扱いについて</a>
        </p>
        <p>
            <a href="">特定商取引法に基づく表記</a>
        </p>
        <p>
            <a href="">ご利用に際して</a>
        </p>
    </footer>
    <script src="js/script.js"></script>
</body>

</html>
