<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>footer fixed</title>
    <link rel="stylesheet" href="../publick/css/footer.css">
</head>
<body>
<div id="container">
    <header>
        <h1>Header area</h1>
    </header>
    <div id="main">
        <h2>①まず"body"領域の直下を"div"で囲って"id"に"container"をつける</h2>
        <h2>②"header"と"フッター"以外の部分を"div"で囲ってid"に"container"をつける</h2>
        <h2>③"footer"をコピペ</h2>
        <h2>④"footer.css"の読み込み</h2>
    </div>
<footer>
    <ul id="footerNav">
        <li><a href="">企業情報</a></li>
        <li><a href="">サイトマップ</a></li>
        <li><a href="">個人情報の取扱いについて</a></li>
        <li><a href="">特定商取引法に基づく表記</a></li>
        <li><a href="">ご利用に際して</a></li>
    </ul>
</footer>
</div>
</body>
</html>