<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <title>HAL CINEMA</title>

  <script src="/js/common.js"></script>
  <script src="/js/jquery.min.js"></script>
  <script src="/js/iscroll.js"></script>
  <link rel="stylesheet" href="/css/drawer.css">
  <script src="/js/drawer.min.js"></script>
  <link rel="stylesheet" href="/css/header.css">
  <link rel="stylesheet" href="/css/footer.css">
  <link rel="stylesheet" href="/css/slick.css">
  <link rel="stylesheet" href="/css/slick-theme.css">
  <script src="/js/slick.min.js"></script>
  <link rel="stylesheet" href="/css/index.css">
  <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
  <script>
      $(function(){
        // #で始まるリンクをクリックしたら実行されます
        $('a[href^="#"]').click(function() {
          // スクロールの速度
          var speed = 400; // ミリ秒で記述
          var href= $(this).attr("href");
          var target = $(href == "#" || href == "" ? 'html' : href);
          var position = target.offset().top;
          $('body,html').animate({scrollTop:position}, speed, 'swing');
          return false;
        });
      });
    </script>
  
</head>
<body class="drawer drawer--left">
  <div id="container">
    <header id="pagetop">
      <!-- ハンバーガーボタン -->
      <button type="button" class="drawer-toggle drawer-hamburger">
        <span class="sr-only">toggle navigation</span>
        <span class="drawer-hamburger-icon"></span>
      </button>
 
      <nav class="drawer-nav">
        <ul class="drawer-menu">
          <!-- ドロワーメニューの中身 -->
          <li id="navTop"><a href="/"><img src="/image/top.png" width="auto" height="auto"><span>トップページ</span></a></li>
          <li id="navLogin"><a href="/login"><img src="/image/login.png" width="auto" height="auto"><span>ログイン</span></a></li>
          <li id="navMovie"><a href="/watchFilm"><img src="/image/movie.png" width="auto" height="auto"><br><span>上映スケジュール</span></a></li>
          <li id="navCampaign"><a href="/campaign"><img src="/image/campaign.png" width="auto" height="auto"><br><span>キャンペーン</span></a></li>
          <li id="navPoppukon"><a href="/shop"><img src="/image/poppukon.png" width="auto" height="auto"><br><span>売店情報</span></a></li>
          <li id="navPaper"><a href="/login"><img src="/image/paper.png" width="auto" height="auto"><span>予約履歴</span></a></li>
          <li id="navP"><a href="/login"><img src="/image/p.png" width="auto" height="auto"><br><span>チェックイン</span></a></li>
        </ul>
      </nav>

      <p id="logoimg"><a href="/"><img src="/image/logo_halcinema.png" width="177" height="46"></a></p>
    </header>
  <div id="main">
    <div id="fill">
      <div class="center-item">
          <div><img src="/image/kiminonaha.jpg" width="" height="" alt=""></div>
          <div><img src="/image/sadako.jpg" width="" height="" alt=""></div>
          <div><img src="/image/kaizoku.jpg" width="" height="" alt=""></div>
          <div><img src="/image/bizyotoyazyu.jpg" width="" height="" alt=""></div>
      </div>
    </div>

    <div class="btnArea">
      <a href="/watchFilm" class="theater"><span>上映スケジュール</span></a>
      <a href="/login" class="login"><span>ログイン</span></a>
    </div>

    <section id="ranking">
      <div class="osusume">
        <h2><sapn class="red">H</sapn>ALCINEMAのおすすめ</h2>
        <p>HALCINEMAがあなたにおすすめの映画をピックアップ！</p>
        <ul class="os1">
          <li class="botspace">
            <div class="cont">
              <figure><img src="/image/hagaren.jpg" width="auto" height="auto" alt=""></figure>
              <dl>
                <dt>鋼の錬金術師</dt>
                <dd>他界した母を復活させるべく錬金術でタブーとされる“人体錬成”を試みたエドワード（山田涼介）とアルフォンスの兄弟。錬成は失敗に終わり、エドワードは左脚を、アルフォンスは体全体を喪失するが、エドワードは自分の右腕と引き換えにアルフォンスの魂を鎧に定着させる。数年後、エドワードは弟を助けるため旅に出る。</dd>
              </dl>
            </div>
          </li>

          <li class="botspace">
              <div class="cont">
                <figure><img src="/image/bar.jpg" width="auto" height="auto" alt=""></figure>
                <dl>
                  <dt>探偵はBARにいる3</dt>
                  <dd>ある日、高田（松田龍平）が探偵（大泉洋）に、行方不明になった大学生の麗子（前田敦子）の捜索話を持ってくる。調査を進めていくと、彼らはモデル事務所の美人オーナー・マリ（北川景子）にたどり着く。探偵と高田はミステリアスなマリに振り回され、気づかないうちに大きな事件に巻き込まれていく……。</dd>
                </dl>
              </div>
          </li>

          <li class="botspace">
                <div class="cont">
                  <figure><img src="/image/it.jpg" width="auto" height="auto" alt=""></figure>
                  <dl>
                    <dt>IT／イット　“それ”が見えたら、終わり。</dt>
                    <dd>とある田舎町で児童が行方不明になる事件が相次ぐ中、おとなしい少年ビルの弟が大雨の日に出掛け、大量の血痕を残して姿をくらます。自分を責めるビルの前に突如現れた“それ”を目撃して以来、彼は神出鬼没、変幻自在の“それ”の恐怖に襲われる。彼と同じく“それ”に遭遇した人々とビルは手を組み、“それ”に立ち向かうが……。</dd>
                  </dl>
                </div>
          </li>

          <li class="botspace">
              <div class="cont">
                <figure><img src="/image/justice.jpg" width="auto" height="auto" alt=""></figure>
                <dl>
                  <dt>ジャスティス・リーグ</dt>
                  <dd>ブルース・ウェイン（ベン・アフレック）は、スーパーマンの捨て身の行動に影響を受け、再び人類を信じるようになる。彼は新たな相棒ダイアナ・プリンス（ガル・ガドット）の手を借り、強敵との戦いに備えて準備を進める。バットマンとワンダーウーマンとしてお互い協力を約束した彼らは、共に戦うことを誓うのだった。</dd>
                </dl>
              </div>
          </li>

          <li>
              <div class="cont">
                <figure><img src="/image/hibana.jpg" width="auto" height="auto" alt=""></figure>
                <dl>
                  <dt>火花</dt>
                  <dd>徳永（菅田将暉）は、お笑いコンビ「スパークス」としてデビューを果たすものの、一向に売れる気配がなかった。ある日、営業に出掛けた熱海の花火大会で4歳年上の神谷（桐谷健太）と知り合う。徳永はお笑いコンビ「あほんだら」としてステージに立った神谷が見せた型破りな漫才に衝撃を受ける。そこで徳永が神谷に弟子入りを願い出ると……。</dd>
                </dl>
              </div>
          </li>
        </ul>
      </div>
    </section>

    <section id="newsfill">
      <div id="newscont">
          <div class="text is-title">
              <h2 class="linered"><sapn class="red">H</sapn>ALCINEMAからのお知らせ</h2>
              <p>HALCINEMAがあなたに最新のお知らせをお伝えします！</p>
          </div>
          <div id="news">
            <ul class="md_newsList">

                <li>
                <time>2017年12月6日</time><span class="icon new">NEW</span>
                <a href="#!">アプリチェックインサービスのシステムメンテナンスのお知らせ（2017/12/13）</a>

                </li>

                <li>
                <time>2017年11月24日</time>
                <a href="#!">InternetExplorerをお使いのお客様へ</a>

                </li>

                <li>
                <time>2017年10月24日</time>
                <a href="#!">ウェブサイトをリニューアルいたしました！</a>

                </li>

						</ul>
        </div>
      </div>
    </section>

    <section class="bg">
      <div id="about">
        <p>■<span class="sizeup">HALCINEMA</span></p>
        <div id="aboutcont">
            <b>所在地:</b>
            <p>〒567-0033</p>
            <p>大阪府茨木市松ヶ本町 8-00-2</p>
          <b>電話:</b>
          <p>072-678-9999<br><br><br><br><br></p>
          <p class="googlemaplink"><a href="https://www.google.co.jp/maps/place/%E3%80%92567-0033+%E5%A4%A7%E9%98%AA%E5%BA%9C%E8%8C%A8%E6%9C%A8%E5%B8%82%E6%9D%BE%E3%82%B1%E6%9C%AC%E7%94%BA%EF%BC%98/@34.8112803,135.5580026,16.38z/data=!4m15!1m9!4m8!1m0!1m6!1m2!1s0x6000e3292404ff03:0xb054d093ba5a11dc!2z44CSNTY3LTAwMzMg5aSn6Ziq5bqc6Iyo5pyo5biC5p2-44Kx5pys55S677yY!2m2!1d135.5586946!2d34.8104109!3m4!1s0x6000e3292404ff03:0xb054d093ba5a11dc!8m2!3d34.8104109!4d135.5586946" target="_blank" class="button">GoogleMaps</a></p>
        </div>
        <div id="mapField"></div>

      </div>
    </section>
  
  </div>
  <p class="topBtn"><a href="#pagetop"><img src="/image/btn_pagetop.png" width="84" height="32" alt="ページトップ"></a></p>
  <footer>
      <ul id="footerNav">
          <li><a href="">企業情報</a></li>
          <li><a href="">サイトマップ</a></li>
          <li><a href="">個人情報の取扱いについて</a></li>
          <li><a href="">特定商取引法に基づく表記</a></li>
          <li><a href="">ご利用に際して</a></li>
      </ul>
  </footer>
</div>
  <script src="/js/header.js"></script>
  <script>$(function() {
    $('.center-item').slick({
          infinite: true,
          dots:true,
          slidesToShow: 1,
          centerMode: true, //要素を中央寄せ
          centerPadding:'130px', //両サイドの見えている部分のサイズ
          autoplay:true, //自動再生
          responsive: [{
               breakpoint: 480,
                    settings: {
                         centerMode: false,
               }
          }]
     });
});


function mapInit() {
    var centerPosition = new google.maps.LatLng(34.810666, 135.558743);
    var option = {
        zoom : 15,
        center : centerPosition,
        mapTypeId : google.maps.MapTypeId.ROADMAP
    };


    //地図本体描画
    var googlemap = new google.maps.Map(document.getElementById("mapField"), option);

    //マーカーオプションの指定
    var markerOption = {
        position : centerPosition, //マーカーを表示させる座標
        map : googlemap,  //マーカーを表示させる地図
    };

    //情報ウインドウオプションの指定
    var infoWindowOption = {
    position : centerPosition,  //中心座標
    content : "HALCINEMA"  //ウインドウ内に表示する文字列
    };
 
    //情報ウインドウ追加
    var infoWindow = new google.maps.InfoWindow(infoWindowOption);
    infoWindow.open(googlemap);

    //マーカー追加
    var marker = new google.maps.Marker(markerOption);

}
 
    mapInit();

    </script>
</body>

</html>
