<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <title>HAL CINEMA</title>

  <script src="/js/common.js"></script>
  <script src="/js/jquery.min.js"></script>
  <script src="/js/iscroll.js"></script>
  <link rel="stylesheet" href="/css/drawer.css">
  <script src="/js/drawer.min.js"></script>
  <link rel="stylesheet" href="/css/header.css">
  <link rel="stylesheet" href="/css/footer.css">
  <link rel="stylesheet" href="/css/slick.css">
  <link rel="stylesheet" href="/css/slick-theme.css">
  <script src="/js/slick.min.js"></script>
  <link rel="stylesheet" href="/css/index.css">
  <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
  
</head>
<body class="drawer drawer--left">

    <div id="container">

        <header id="pagetop">

            <!-- ハンバーガーボタン -->
            <button type="button" class="drawer-toggle drawer-hamburger">
                <span class="sr-only">toggle navigation</span>
                <span class="drawer-hamburger-icon"></span>
            </button>
      
            <nav class="drawer-nav">

                <ul class="drawer-menu">
                    <!-- ドロワーメニューの中身 -->
                    <li id="navTop"><a href="/"><img src="/image/top.png" width="auto" height="auto"><span>トップページ</span></a></li>
                    <li id="navLogin"><a href="/login"><img src="/image/login.png" width="auto" height="auto"><span>ログイン</span></a></li>
                    <li id="navMovie"><a href="/watchFilm"><img src="/image/movie.png" width="auto" height="auto"><br><span>上映スケジュール</span></a></li>
                    <li id="navCampaign"><a href="/campaign"><img src="/image/campaign.png" width="auto" height="auto"><br><span>キャンペーン</span></a></li>
                    <li id="navPoppukon"><a href="/shop"><img src="/image/poppukon.png" width="auto" height="auto"><br><span>売店情報</span></a></li>
                    <li id="navPaper"><a href="/login"><img src="/image/paper.png" width="auto" height="auto"><span>予約履歴</span></a></li>
                    <li id="navP"><a href="/login"><img src="/image/p.png" width="auto" height="auto"><br><span>コイン確認</span></a></li>
                </ul>

            </nav>

            <p id="logoimg"><a href="/"><img src="/image/logo_halcinema.png" width="177" height="46"></a></p>
        </header>

        <div id="main">

            <div id="fill">

                <div class="center-item">
                    <div><img src="/image/kiminonaha.jpg" width="" height="" alt=""></div>
                    <div><img src="/image/speedB.jpg" width="" height="" alt=""></div>
                    <div><img src="/image/kaizoku.jpg" width="" height="" alt=""></div>
                    <div><img src="/image/bizyotoyazyu.jpg" width="" height="" alt=""></div>
                    <div><img src="/image/zutopiaB.jpg" width="" height="" alt=""></div>
                </div>

            </div>

            <div class="btnArea">
                <a href="/watchFilm" class="theater"><span>上映スケジュール</span></a>
                <span id="islogin"><a href="/login" class="login"><span>ログイン</span></a></span>
            </div>

            <section id="ranking">

                <div class="osusume">

                    <h2><sapn class="red">H</sapn>ALCINEMAのおすすめ</h2>
                    <p>HALCINEMAがあなたにおすすめの映画をピックアップ！</p>

                    <ul class="os1">

                        <li class="botspace">

                            <div class="cont">
                                <figure><img src="/image/yourname.jpg" width="auto" height="auto" alt=""></figure>

                                <dl>
                                    <dt>君の名は</dt>
                                    <dd>田舎に暮らす女子高生「宮水三葉」（みやみず みつは）は、夢の中で都会で生きる男子高校生の生活を体験するようになる。
                                        そして逆に東京で暮らしている男子高校生「立花瀧」（たちばな たき）も田舎町の女子高校生になった夢をみるようになる。
                                        しかし、不思議な夢を繰り返すうちに、実は二人の身体が入れ替わっていたことに気づく。
                                        その後、互いに戸惑いながらも入れ替わった生活を楽しんでいた二人であったが、ある日から入れ替わりが起こらなくなる。
                                        三葉のことが気になった瀧は、入れ替わっていた時の記憶を頼りに三葉に会いに行こうと決心する。
                                        電車やバスを乗り継ぎ、三葉の故郷にたどり着いた瀧。しかし、その先で思いがけない事実が判明する。</dd>
                                </dl>

                            </div>

                        </li>

                        <li class="botspace">

                            <div class="cont">
                                <figure><img src="/image/yazyuu.jpg" width="auto" height="auto" alt=""></figure>

                                <dl>
                                    <dt>美女と野獣</dt>
                                    <dd>ディズニー・アニメーション不朽の名作『美女と野獣』がついに実写映画化。魔女の呪いによって野獣の姿に変えられてしまった美しい王子。呪いを解く鍵は、魔法のバラの花びらが全て散る前に誰かを心から愛し、そして愛されること―。だが野獣の姿になった彼を愛するものなどいるはずがなく、独り心を閉ざし本当の自分を見失っていく。そんな絶望な日々に光を与えたのは、心に孤独を抱えながらも、自分の輝きを信じて生きる、聡明で美しい女性、ベル。このふたりの出会いがお互いの運命を次第に変えていく。</dd>
                                </dl>

                            </div>

                        </li>

                        <li class="botspace">

                            <div class="cont">
                                <figure><img src="/image/zutopia.jpg" width="auto" height="auto" alt=""></figure>

                                <dl>
                                    <dt>ズートピア</dt>
                                    <dd>舞台は、動物たちがまるで人間のように暮らしている近代都市ズートピア。動物たちは二本足で歩き、当然服を着て、またスマホも使いこなしているように見えます。そして、そこは肉食も草食も平和に共存し、「誰もが何にでもなれる」という楽園なのだそう。</dd>
                                </dl>

                            </div>

                        </li>

                        <li class="botspace">

                            <div class="cont">
                                <figure><img src="/image/kaizokuman.jpg" width="auto" height="auto" alt=""></figure>

                                <dl>
                                    <dt>海賊とよばれた男</dt>
                                    <dd>主要燃料が石炭だった当時から、石油の将来性を見抜いていた国岡鐡造は、北九州の門司で石油業に乗り出すが、国内の販売業者や欧米の石油メジャーなど、様々な壁が立ちふさがる。それでもあきらめない鐡造は、型破りな発想と行動で自らの進む道を切り開いていく。やがて石油メジャーに敵視された鐡造は、石油輸入ルートを封じられてしまうが、唯一保有する巨大タンカー「日承丸」を秘密裏にイランに派遣するという大胆な行動に出る。それは当時のイランを牛耳るイギリスを敵に回す行為だったが……。</dd>
                                </dl>

                            </div>

                        </li>

                        <li>

                            <div class="cont">
                                <figure><img src="/image/speed.jpeg" width="auto" height="auto" alt=""></figure>

                                <dl>
                                    <dt>ワイルド・スピード ＩＣＥ ＢＲＥＡＫ</dt>
                                    <dd>ブライアン（ポール・ウォーカー）が引退した後、ドム（ヴィン・ディーゼル）たち家族（チーム）はそれぞれ普通の生活へ戻っていた。しかし、ドムが謎めいた女（シャーリーズ・セロン）に誘惑され、家族を裏切り、犯罪の世界へと再び引き込まれていく。  
                                        一行は家族を始めた男であるドムを止めるため、かつて力を合わせて倒した強敵のデッカード（ジェイソン・ステイサム）に助けを求めるのだった。</dd>
                                </dl>
                                
                            </div>

                        </li>

                    </ul>

                    <div class="col">

                        <div class="container-1">
                          
                            <div class="btn btn-one">
                                <a href="/watchFilm">上映スケジュール</a>
                            </div>

                        </div>

                    </div>

                </div>

            </section>

            <section id="shopfill">

                <div id="shopcont">

                    <div class="text is-title">
                        <h2 class="shoplinered"><sapn class="red">H</sapn>ALCINEMAのフード</h2>
                        <p>HALCINEMAではフードも充実しています！</p>
                    </div>

                    <div id="shop">

                        <div id="shop1" class="boxshop">
                            <img src="/image/popukon_shop.jpg" width="auto" height="auto" alt="">
                        </div>

                        <div id="shop2">
                            <img src="/image/tyuritosu_shop.jpg" width="auto" height="auto" alt="">
                        </div>

                    </div>

                    <div id="shopbtn">
                        <a href="/shop" class="btn">ラインナップ</a>
                    </div>

                </div>

            </section>

            <section id="newsfill">

                <div id="newscont">

                    <div class="text is-title">
                        <h2 class="linered"><sapn class="red">H</sapn>ALCINEMAからのお知らせ</h2>
                        <p>HALCINEMAがあなたに最新のお知らせをお伝えします！</p>
                    </div>

                    <div id="news">

                        <ul class="md_newsList">

                            <li>
                                <time>2017年12月6日</time><span class="icon new">NEW</span>
                                <a href="#!">アプリチェックインサービスのシステムメンテナンスのお知らせ（2017/12/13）</a>
                            </li>

                            <li>
                                <time>2017年11月24日</time>
                                <a href="#!">InternetExplorerをお使いのお客様へ</a>
                            </li>

                            <li>
                                <time>2017年10月24日</time>
                                <a href="#!">ウェブサイトをリニューアルいたしました！</a>
                            </li>

                        </ul>

                    </div>

                </div>

            </section>

            <section class="bg">

                <div id="about">
                    <p>■<span class="sizeup">HALCINEMA</span></p>

                    <div id="aboutcont">
                        <b>所在地:</b>
                        <p>〒567-0033</p>
                        <p>大阪府茨木市松ヶ本町 8-00-2</p>
                        <b>電話:</b>
                        <p>072-678-9999<br><br><br><br><br></p>
                        <p class="googlemaplink"><a href="https://www.google.co.jp/maps/place/%E3%80%92567-0033+%E5%A4%A7%E9%98%AA%E5%BA%9C%E8%8C%A8%E6%9C%A8%E5%B8%82%E6%9D%BE%E3%82%B1%E6%9C%AC%E7%94%BA%EF%BC%98/@34.8112803,135.5580026,16.38z/data=!4m15!1m9!4m8!1m0!1m6!1m2!1s0x6000e3292404ff03:0xb054d093ba5a11dc!2z44CSNTY3LTAwMzMg5aSn6Ziq5bqc6Iyo5pyo5biC5p2-44Kx5pys55S677yY!2m2!1d135.5586946!2d34.8104109!3m4!1s0x6000e3292404ff03:0xb054d093ba5a11dc!8m2!3d34.8104109!4d135.5586946" target="_blank" class="button">GoogleMaps</a></p>
                    </div>

                    <div id="mapField"></div>

                </div>

            </section>

        </div>

      <p class="topBtn"><a href="#pagetop"><img src="/image/btn_pagetop.png" width="84" height="32" alt="ページトップ"></a></p>
      
      <footer>

          <ul id="footerNav">
              <li><a href="#!">企業情報</a></li>
              <li><a href="#!">サイトマップ</a></li>
              <li><a href="#!">個人情報の取扱いについて</a></li>
              <li><a href="#!">特定商取引法に基づく表記</a></li>
              <li><a href="#!">ご利用に際して</a></li>
          </ul>

      </footer>

    </div>
<script src="/js/header.js"></script>
<script src="/js/index.js"></script>
</body>

</html>
