<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>hal-cinema | 会員登録</title>

  <link rel="stylesheet" href="../public/css/footer.css">
  <link rel="stylesheet" href="../public/css/login.css">
  <script src="../public/js/script.js"></script>
</head>

<body>
  <div id="container">
    <header></header>
    <div id="main">
        <h1>会員ログイン</h1>
        <div id="loginForm">
            <form action="">
            <p>ユーザーID</p>
            <input type="text" class="text" maxlength="50" placeholder="ユーザーID(半角英数字、6文字以上)">
            <p>パスワード</p>
            <input type="password" class="text" maxlength="12" placeholder="パスワード(半角英数字8文字以上12文字以下、特殊文字不可)">
            <button type="submit" class="submit">ログイン</button>
        </form>
        </div>
    </div>
  </div>
  <footer>
    <ul id="footerNav">
      <li>
        <a href="">企業情報</a>
      </li>
      <li>
        <a href="">サイトマップ</a>
      </li>
      <li>
        <a href="">個人情報の取扱いについて</a>
      </li>
      <li>
        <a href="">特定商取引法に基づく表記</a>
      </li>
      <li>
        <a href="">ご利用に際して</a>
      </li>
    </ul>
  </footer>
</body>

</html>
