<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>hal-cimema | マイページ</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/mypage.css">
</head>

<body>
    <header>
        <h1>halcinema</h1>
    </header>
    <div id="welcome">
        <h2>マイページ</h2>

        <p>ようこそ ○
            <!--ここにユーザー名-->様</p>
        <div class="logout">
            <p>
                <a href="">ログアウト</a>
            </p>
        </div>
    </div>
    <div id="menu_bar">
        <ul>
            <li class="selected">予約履歴</li>
            <a href="">
                <li>登録情報の確認・編集</li>
            </a>
            <a href="">
                <li>チェックインポイントの確認</li>
            </a>
        </ul>
    </div>
    <article>
        <div id="history_list">
            <h3>予約履歴</h3>
            <div id="history">
                <table>
                    <tr>
                        <th class="history_day">予約日</th>
                        <th class="firm_title">作品名</th>
                    </tr>
                    <tr>
                        <td class="history_day">2017-02-17</td>
                        <td>あさひなぐ</td>
                    </tr>
                </table>
            </div>
        </div>
    </article>
    <footer>
            <p>
                <a href="">企業情報</a>
            </p>
            <p>
                <a href="">サイトマップ</a>
            </p>
            <p>
                <a href="">個人情報の取り扱いについて</a>
            </p>
            <p>
                <a href="">特定商取引法に基づく表記</a>
            </p>
            <p>
                <a href="">ご利用に際して</a>
            </p>
        </footer>
</body>

</html>