<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>hal-cimema | マイページ</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/mypage.css">
    <script src="/js/admin-cookieManager.bundle.js"></script>
</head>

<body>
    <header>
        <h1>halcinema</h1>
    </header>
    <div id="welcome">
        <h2>マイページ</h2>

        <p>ようこそ ○
            <!--ここにユーザー名-->様</p>
        <div class="logout">
            <p>
                <a href="">ログアウト</a>
            </p>
        </div>
    </div>
    <div id="menu_bar">
        <ul>
            <li class="selected">予約履歴</li>
            <li>
                <a href="customerEdit">登録情報の確認・編集</a>
            </li>
            <li>
                <a href="">チェックインポイントの確認</a>
            </li>
        </ul>
    </div>
    <article>
        <div id="history_list">
            <h3>予約履歴</h3>
            <div id="history">
                <table>
                    <tr>
                        <th class="">予約日</th>
                        <th class="">作品名</th>
                        <th class="">開始日時</th>
                        <th class="">終了日時</th>
                        <th class="">上映時間</th>
                        <th class="">操作</th>
                    </tr>
                    <tr>
                        <td class="history_day">2017-02-17</td>
                        <td>あさひなぐ</td>
                        <td>12:20</td>
                        <td>14:20</td>
                        <td>120分</td>
                        <td>キャンセル</td>
                    </tr>
                </table>
            </div>
        </div>
    </article>
    <footer>
        <p>
            <a href="">企業情報</a>
        </p>
        <p>
            <a href="">サイトマップ</a>
        </p>
        <p>
            <a href="">個人情報の取り扱いについて</a>
        </p>
        <p>
            <a href="">特定商取引法に基づく表記</a>
        </p>
        <p>
            <a href="">ご利用に際して</a>
        </p>
    </footer>
</body>

</html>