<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="/js/admin-cookieManager.bundle.js"></script>
  <title>hal-cinema | 会員登録</title>

  <link rel="stylesheet" href="/css/footer.css">
  <link rel="stylesheet" href="/css/registerConfirm.css">

</head>

<body>
  <div id="container">
    <header></header>
    <div id="main">
      <div id="confirm">
        <div class="step">
          <ol class="step-list">
            <li class="step-item ">
              <span class="pc">STEP1:
                <br>申込フォーム入力</span>
            </li>
            <li class="step-item current">STEP2:
              <br>入力確認</li>
            <li class="step-item">STEP3:
              <br>登録完了</li>
          </ol>
        </div>

        <div id="registerConfirm">
          <form action="registerComp" method="POST">
            <h1>hal-cinema@会員登録</h1>
            <p>入力事項のご確認をお願い致します。</p>
            <h2>メールアドレス</h2>
            <div class="space">
              <p id="v_email">
                <!--session[mail]--></p>
                <input id="email" type="hidden" name="email">
            </div>
            <h2>パスワード</h2>
            <div class="space">
              <p id="v_password">
                <!--session[password]-->
              </p>
              <input id="password" type="hidden" name="email">
            </div>
            <h2>お名前</h2>
            <div class="name">
              <p>姓</p>
              <p id="v_first_name"></p>
              <input id="first_name" type="hidden" name="first_name">
            </div>
            <div class="name">
              <p>名</p>
              <p id="v_last_name"></p>
              <input id="last_name" type="hidden" name="last_name">
            </div>
            <div class="name">
              <p>フリガナ（セイ）</p>
              <p id="v_first_name_read"></p>
              <input id="first_name_read" type="hidden" name="first_name_read">
            </div>
            <div class="name">
              <p>フリガナ（メイ）</p>
              <p id="v_last_name_read"></p>
              <input id="last_name_read" type="hidden" name="last_name_read">
            </div>

            <h2>生年月日</h2>
            <div class="space">
              <div class="space_birth">
                <p id="year">
                  <!--session[year]-->
                </p>
                <p>年</p>

                <p id="month">
                  <!--session[month]-->
                </p>
                <p>月</p>

                <p id="date">
                  <!--session[date]-->
                </p>
                <p>日</p>
                <input id="birth" type="hidden">
              </div>
            </div>
            <h2>電話番号</h2>
            <div class="space">
              <p id="v_phone">
                <!--session[tel]-->
              </p>
              <input id="phone" type="hidden">
            </div>

            <h2>郵便番号</h2>
            <div class="space">
              <p id="v_address">
                <!--session[address]-->
                <input id="address" type="hidden">
              </p>
            </div>
            <h2>クレジットカード</h2>
            <div class="space_name">
              <div class="col">
                <p>カード番号</p>
                <p id="v_credit_card_number">

                  <!--session[crNo]-->
                </p>
                <input type="hidden" id="credit_card_number">
              </div>
              <div class="col">
                <p>セキュリティコード</p>
                <p id="v_security_code">

                  <!--session[crName]-->
                  <input id="security_code" type="hidden">
                </p>
              </div>
              <div class="col">
                <p>有効期限</p>
                <p id="v_limitMonth" class="limit">
                  <!--session[crMonth]-->
                </p><p class="limit">月/</p>
                <input id="limitMonth" type="hidden">
                <p id="v_limitYear" class="limit">
                  <!--session[crYear]-->
                </p>
                <p class="limit">年</p>
                <input id="limitYear" type="hidden">
              </div>
            </div>
            <div id="confirmNav">
              <div id="text">
                <p>上記の内容が正しい場合は、登録ボタンを押してください。</p>
                <p>訂正される場合は、以下の戻るボタンを押してください。</p>
              </div>
              <div id="button">
                <a href="" class="back">戻る</a>
                <input type="submit" class="move" value="登録">
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  </div>
  <footer>
    <ul id="footerNav">
      <li>
        <a href="">企業情報</a>
      </li>
      <li>
        <a href="">サイトマップ</a>
      </li>
      <li>
        <a href="">個人情報の取扱いについて</a>
      </li>
      <li>
        <a href="">特定商取引法に基づく表記</a>
      </li>
      <li>
        <a href="">ご利用に際して</a>
      </li>
    </ul>
  </footer>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
  crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
  crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
  crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="/js/moment.js"></script>
  <script src="/js/QueryString.js"></script>
  <script src="/js/registerConfirm.js"></script>
  <script src="/js/script.js"></script>
  <script type="text/javascript">
  $('#myForm').on('submit', function (event) {
    event.preventDefault(); // 本来のPOSTを打ち消すおまじない
    $.post(
      $(this).attr('action'),
      $(this).serializeArray())
      .done(function (data, textStatus, jqXHR) {
        console.log(data.token)
      })
      .fail(function(data, textStatus, jqXHR){
        alert("ユーザー登録失敗");
      })
  });
  
</script>
  </div>
</body>

</html>