<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="/js/admin-cookieManager.bundle.js"></script>
  <title>hal-cinema | 会員登録</title>

  <link rel="stylesheet" href="/css/footer.css">
  <link rel="stylesheet" href="/css/registerConfirm.css">
  
</head>

<body>
  <div id="container">
    <header></header>
    <div id="main">
      <div id="confirm">
        <div class="step">
          <ol class="step-list">
            <li class="step-item ">
              <span class="pc">STEP1:
                <br>申込フォーム入力</span>
            </li>
            <li class="step-item current">STEP2:
              <br>入力確認</li>
            <li class="step-item">STEP3:
              <br>登録完了</li>
          </ol>
        </div>
        <div id="registerConfirm">
          <form action="registerComp.html" method="POST">
            <h1>hal-cinema@会員登録</h1>
            <p>入力事項のご確認をお願い致します。</p>
            <h2>メールアドレス</h2>
            <div class="space">
              <p class ="v_email">
                <!--session[mail]-->
                <input class ="email" type="hidden" name="email">
              </p>
            </div>
            <h2>パスワード</h2>
            <div class="space">
              <p class="v_password">
                <!--session[password]-->
              </p>
              <input class="password" type="hidden" name="email">
            </div>
            <h2>お名前</h2>
            <div class="name">
              <p>姓</p>
              <br>
              <p class="v_first_name"></p>
              <input class="first_name" type="hidden" name="first_name">
            </div>
            <div class="name">
              <p>名</p>
              <br>
              <p class="v_last_name"></p>
              <input class="last_name" type="hidden" name="last_name">
            </div>
            <div class="name">
              <p>フリガナ（セイ）</p>
              <br>
              <p class="v_first_name_read"></p>
              <input class="first_name_read" type="hidden" name="first_name_read">
            </div>
            <div class="name">
              <p>フリガナ（メイ）</p>
              <br>
              <p class="v_last_name_read"></p>
              <input class="last_name_read" type="hidden" name="last_name_read">
            </div>

            <h2>生年月日</h2>
            <div class="space">
              <div class="space_birth">
                <p class="year">
                  <!--session[year]--></p><p>年</p>
                
                <p class="month">
                  <!--session[month]--></p><p>月</p>
                
                <p class="date">
                  <!--session[date]--></p><p>日</p>
                  <input class="birth" type="hidden">
              </div>
            </div>
            <h2>電話番号</h2>
            <div class="space">
              <p class="v_phone">
                <!--session[tel]--></p>
                <input class="phone" type="hidden">
            </div>
            </div>
            <h2>郵便番号</h2>
            <div class="space">
              <p class="v_address">
                
                <!--session[address]-->
                <input class="address" type="hidden">
              </p>
            </div>
            <h2>クレジットカード</h2>
            <div class="v_space_name">
              <div class="col">
                <p>カード番号</p>
                <p class="v_credit_card_number">
                  
                  <!--session[crNo]--></p>
                  <input type="hidden" class="credit_card_number">
              </div>
              <div class="col">
                <p>セキュリティコード</p>
                <p class="v_security_code">
                  
                  <!--session[crName]-->
                  <input class="security_code" type="hidden">
                </p>
              </div>
              <div class="col">
                <p>有効期限</p>
                <p class="v_limitMonth">
                  <!--session[crMonth]--></p>
                  <input class="limitMonth" type="hidden"><p>月/</p> 
                  <p class="v_limitYear">
                  <!--session[crYear]--></p>
                  <input class="limitYear" type="hidden"><p>年</p>
              </div>
            </div>
            <div id="confirmNav">
              <div id="text">
                <p>上記の内容が正しい場合は、登録ボタンを押してください。</p>
                <p>訂正される場合は、以下の戻るボタンを押してください。</p>
              </div>
              <div id="button">
                <a href="" class="back">戻る</a>
                <input type="submit" class="move" value="登録">
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <footer>
    <ul id="footerNav">
      <li>
        <a href="">企業情報</a>
      </li>
      <li>
        <a href="">サイトマップ</a>
      </li>
      <li>
        <a href="">個人情報の取扱いについて</a>
      </li>
      <li>
        <a href="">特定商取引法に基づく表記</a>
      </li>
      <li>
        <a href="">ご利用に際して</a>
      </li>
    </ul>
  </footer>
  <script src="/js/moment.js"></script>
  <script src="/js/QueryString.js"></script>
  <script src="/js/registerConfirm.js"></script>
  <script src="/js/script.js"></script>
  </div>
</body>

</html>
