<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>座席選択|HALシネマ</title>
  <link rel="stylesheet" href="css/seat.css">
</head>
<body>
  <ul>
  	<li class="navi word">STEP1：<br>座席・チケット選択</li>
  	<li class="navi arrow">＞</li>
  	<li class="navi word">STEP2：<br>お支払情報入力</li>
  	<li class="navi arrow">＞</li>
  	<li class="navi word">STEP3：<br>ご購入内容の確認</li>
  	<li class="navi arrow">＞</li>
  	<li class="navi word">STEP4：<br>購入完了</li>
  </ul>

  <h1>ご購入内容</h1>
  <dl>
  	<dt>作品</dt>
  	<dd>あさひなぐ</dd>
  	<dt>日時</dt>
  	<dd>2017年9月26日（火）<br>16:50~18:45</dd>
  	<dt>劇場</dt>
  	<dd>HALシネマ</dd>
  </dl>

  <a href="seatSelection">座席選択へ</a>




  <script src="js/script.js"></script>
</body>
</html>
