<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>座席選択|HALシネマ</title>
  <link rel="stylesheet" href="css/seat.css">
  <link rel="stylesheet" href="css/footer.css">
  <script src="/js/admin-cookieManager.bundle.js"></script>
</head>
<body>
<div id="container">
  <div id="main">
    <ul class="navigation">
    	<li class="navi word">STEP1：<br>座席選択</li>
    	<li class="navi arrow">＞</li>
    	<li class="navi word">STEP2：<br>チケット選択</li>
    	<li class="navi arrow">＞</li>
    	<li class="navi word">STEP3：<br>ご購入内容の確認</li>
    	<li class="navi arrow">＞</li>
    	<li class="navi word">STEP4：<br>購入完了</li>
    </ul>

    <h1>ご購入内容</h1>
    <dl class="border">
    	<div class="movie">
  	  	<dt>作品</dt>
  	  	<dd><span id="movie"></span></dd>
    	</div>
    	<div class="time">
  	  	<dt>日時</dt>
  	  	<dd><span id="date"></span><br><span id="time"></span></dd>
    	</div>
    	<div class="theater">
  	  	<dt>シアター</dt>
  	  	<dd><span id="theater"></span></dd>
    	</div>
    </dl>

    <div class="btn">
    	<a href="#!" class="back">戻る</a>
    	<span id="next"></span>
    </div>
  </div>
<footer>
    <ul id="footerNav">
        <li><a href="">企業情報</a></li>
        <li><a href="">サイトマップ</a></li>
        <li><a href="">個人情報の取扱いについて</a></li>
        <li><a href="">特定商取引法に基づく表記</a></li>
        <li><a href="">ご利用に際して</a></li>
    </ul>
</footer>
</div>
<script src="js/QueryString.js"></script>
<script src="js/seat.js"></script>
</body>
</html>
