<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>hal-cimema | 売店情報</title>
    <link rel="stylesheet" href="../public/css/style.css">
    <link rel="stylesheet" href="../public/css/shop.css">
</head>

<body>
    <header>
        <h1>halcinema</h1>
    </header>
    <h2>売店情報</h2>
    <article>
        <h3>フード・ドリンクメニュー</h3>
        <div class="menu_table">
            <h4>セットメニュー</h4>
            <div class="menu">
                <img src="../public/image/set_menu.png" alt="画像" width="370" height=240>
                <table>
                    <tr>
                        <th></th>
                        <th>塩</th>
                        <th>キャラメル</th>
                        <th>バター醤油</th>
                    </tr>
                    <tr>
                        <td>ポップコーンセット</td>
                        <td>¥730</td>
                        <td>¥780</td>
                        <td>¥780</td>
                    </tr>
                    <tr>
                        <th></th>
                        <th>プレーン</th>
                        <th>チリ</th>
                        <th>チーズ</th>
                    </tr>
                    <tr>
                        <td>ホットドッグセット</td>
                        <td>¥770</td>
                        <td>¥800</td>
                        <td>¥800</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="menu_table">
            <h4>ポップコーン</h4>
            <div class="menu">
                    <img src="../public/image/set_menu.png" alt="画像" width="370" height=240>
            <table>
                <tr>
                    <th></th>
                    <td>S</td>
                    <td>M</td>
                    <td>L</td>
                </tr>
                <tr>
                    <th>塩</th>
                    <td>¥330</td>
                    <td>¥430</td>
                    <td>¥510</td>
                </tr>
                <tr>
                    <th>キャラメル</th>
                    <td>¥380</td>
                    <td>¥480</td>
                    <td>¥540</td>
                </tr>
                <tr>
                    <th>バター醤油</th>
                    <td>¥380</td>
                    <td>¥480</td>
                    <td>¥540</td>
                </tr>
                <tr>
                    <th>ハーフ＆ハーフ</th>
                    <td colspan="3">¥580</td>
                </tr>
            </table>
        </div>
        </div>
        <div class="menu_table">
            <h4>ホットドッグ</h4>
            <div class="menu">
                    <img src="../public/image/set_menu.png" alt="画像" width="370" height=240>
            <table>
                <tr>
                    <th>プレーン</th>
                    <td>¥350</td>
                </tr>
                <tr>
                    <th>チリ</th>
                    <td>¥380</td>
                </tr>
                <tr>
                    <th>チーズ</th>
                    <td>¥380</td>
                </tr>
            </table>
        </div>
        </div>
        <div class="menu_table">
            <h4>ドリンク</h4>
            <div class="menu">
                    <img src="../public/image/set_menu.png" alt="画像" width="370" height=240>
            <table>
                <tr>
                    <th></th>
                    <td>S</td>
                    <td>M</td>
                    <td>L</td>
                </tr>
                <tr>
                    <th>ソフトドリンク</th>
                    <td>¥250</td>
                    <td>¥320</td>
                    <td>¥380</td>
                </tr>
            </table>
        </div>
        </div>
    </article>
    <footer>
            <p>
                <a href="">企業情報</a>
            </p>
            <p>
                <a href="">サイトマップ</a>
            </p>
            <p>
                <a href="">個人情報の取り扱いについて</a>
            </p>
            <p>
                <a href="">特定商取引法に基づく表記</a>
            </p>
            <p>
                <a href="">ご利用に際して</a>
            </p>
        </footer>
</body>

</html>