<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="/js/admin-cookieManager.bundle.js"></script>

  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/watchFirm.css">

  <title>hal-cinema | 上映中作品一覧</title>

  <style>
    body,
    html {
      width: 100%;
      height: 100%;
    }
    *,
    *:before,
    *:after {
      padding: 0;
      margin: 0;
      box-sizing: border-box;
    }
  </style>
</head>
<body>
  <header></header>

  <div id="app">
    <movie></movie>
  </div>

  <footer>
    <p>
      <a href="">企業情報</a>
    </p>
    <p>
      <a href="">サイトマップ</a>
    </p>
    <p>
      <a href="">個人情報の取り扱いについて</a>
    </p>
    <p>
      <a href="">特定商取引法に基づく表記</a>
    </p>
    <p>
      <a href="">ご利用に際して</a>
    </p>
  </footer>
  <script src="/js/QueryString.js"></script>
  <script src="/js/moment.js"></script>
  <script src="/js/movie.bundle.js"></script>
</body>

</html>
